.car-list {
    margin-left:auto;
    margin-right: auto;
}

.div-table-container {
    width: 100%;
}

.table-container {
    margin-top: 5vh;
}

table {
    text-align: center;
}

.form-container {
    width: 80%;
    margin-top: 2vh;
    margin-bottom: 3vh;
}

.div-marca {
    width: 100%;
}

.div-modelo {
    width:100%;
}

.div-anio-kms {
    display: flex;
    justify-content: space-between;
}

.div-anio {
    width: 100%;
}

.div-kms {
    width: 100%;
}

.div-pasajeros {
    width: 100%;
}

.div-aire-auto {
    display: flex;
    justify-content: flex-start;
    vertical-align: center;
}

.div-auto {
    margin-left: 1vh;
}

.table th {
    vertical-align: middle;
    overflow: hidden;
    text-overflow: ellipsis;

    max-width: 120px;
}

@media all and (max-width: 945px) {
    th {
        font-size: 0.8em;
    }

    #aire_th {
        display: none;
    }
    #aire_h {
        display: none;
    }

    .div-table-container {
        width: 96%;
    }
}

@media all and (max-width: 720px) {
    #automatico_th {
        display: none;
    }
    #automatico_h {
        display: none;
    }

    .id-n {
        display:none;
    }
}

@media all and (max-width: 615px) {
    #pasajeros_th {
        display: none;
    }
    #pasajeros_h {
        display: none;
    }

    .phone-n {
        display: none;
    }
}

@media all and (min-width: 631px) {
    .photo_img {
        width: 256px;
        height: 256px;
    }
}

@media all and (max-width: 630px) {
    #kms_th {
        display: none;
    }
    #kms_h {
        display: none;
    }

    .div-photo {
        width: 50%;
        height: auto;
    }

}

@media all and (max-width: 530px) {
    #marca_th {
        display: none;
    }
    #marca_h {
        display: none;
    }

    th {
        font-size: 0.7em;
    }

    .table th {
        max-width: 94px;
    }

}

@media all and (max-width: 490px) {
    #kms_th {
        display: none;
    }
    #kms_h {
        display: none;
    }

    .birth-date {
        display: none;
    }

    .id_h {
        display: none;
    }
}

@media all and (max-width: 430px) {
    #anio_th {
        display: none;
    }
    #anio_h {
        display: none;
    }

    .gender {
        display: none;
    }

    .precio_h {
        display: none;
    }
}

@media all and (max-width: 400px) {
    .color_h {
        display: none;
    }
}

#actions {
    white-space: nowrap;
}

.div-error-container {
    width: 100vh;
    text-align: center;
}

.div-name {
    display: flex;
    justify-content: flex-start;
    vertical-align: center;
}

.div-first_name {
    width: 100%;
}

.div-last_name {
    width: 100%;
}

.full-width {
    width: 100%
}

.half-width {
    width: 90%
}

.div-flex-container {
    display: flex;
    justify-content: flex-start;
    vertical-align: center;
}

.div-table-container {
    text-align: center;
    width: 90%;
}

.table-container {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    background: #ffffff;
    box-shadow:  20px 20px 60px #d9d9d9;
    margin-bottom: 10%;
    display:inline-block;
    width: 100%;
}


table {
    width: 100%;
}

html, body {
    background-color:  #eaf1f6;
    width: 100%;
    position: fixed;
}

.div-photo {
    float: lefT;
    padding-right: 10px;
}

.birth-date-input {
    width: 80%;
}

.photo_img {
    border-radius: 24px;
    background: #eaf1f6;
    box-shadow: inset 9px 9px 18px #b5b5b5,
    inset -9px -9px 18px #ffffff;
}

@media all and (max-width: 1000px) {
    .div-table-container {
        width: 96%;
    }
}

.list-photo {
    object-fit: contain;
    width: 100%;
    height: 64px;
}

