<nav class="navbar is-black" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <h4 class="title is-1" >Car Rental</h4>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>


    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/car">
                Autos
            </a>

            <a class="navbar-item" href="/user">
                Usuarios
            </a>

            <a class="navbar-item" href="/rent">
                Reservaciones
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    Más
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" target="_blank" href="https://github.com/juampa99">
                        Mi Github
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary" href="{{data.route}}/add">
                        <span class="icon is-medium">
                          <i class="fas fa-plus-square fa-lg"></i>
                        </span>
                        <strong>Add</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>

<div class="dropdown is-active my-dropdown">
    <div class="dropdown-menu" id="dropdown-menu" role="menu">
        <div class="dropdown-content">
            <a href="{{data.route}}/add" class="dropdown-item">
                Add
            </a>
            <hr class="dropdown-divider">
            <a href="/car" class="dropdown-item">
                Autos
            </a>
            <a href="/user" class="dropdown-item">
                Usuarios
            </a>
            <a href="/rent" class="dropdown-item">
                Reservaciones
            </a>
            <hr class="dropdown-divider">
            <a href="https://github.com/juampa99" target="_blank" class="dropdown-item">
                Mi Github
            </a>
        </div>
    </div>
</div>

<script type="text/javascript" src="/public/js/navbar.js"> </script>
