<nav class="navbar is-black" role="navigation" aria-label="main navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="#">
            <h3 class="title is-1" >Car Rental</h3>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start">
            <a class="navbar-item" href="/">
                Autos
            </a>

            <a class="navbar-item" href="/usuarios">
                Usuarios
            </a>

            <a class="navbar-item" href="/reservaciones">
                Reservaciones
            </a>

            <div class="navbar-item has-dropdown is-hoverable">
                <a class="navbar-link">
                    More
                </a>

                <div class="navbar-dropdown">
                    <a class="navbar-item" href="https://github.com/juampa99">
                        Github
                    </a>
                </div>
            </div>
        </div>

        <div class="navbar-end">
            <div class="navbar-item">
                <div class="buttons">
                    <a class="button is-primary">
                        <span class="icon is-medium">
                          <i class="fas fa-plus-square fa-lg"></i>
                        </span>
                        <strong>Add</strong>
                    </a>
                </div>
            </div>
        </div>
    </div>
</nav>
