{% extends '../../views/index.njk' %}

{% block body %}

<div class="container form-container">

    <form method="POST" action="/car/submit" enctype="application/x-www-form-urlencoded">
        <input name="id" type="hidden" value="{{data.car.id}}">

        <div class="field div-marca">
            <label class="label">Marca</label>
            <div class="control">
                <input name="brand" class="input" type="text" value="{{data.car.brand}}" placeholder="Toyota, Mitsubishi, etc...">
            </div>
        </div>

        <div class="field div-modelo">
            <label class="label">Modelo</label>
            <div class="control">
                <input name="model" class="input" type="text" value="{{data.car.model}}" placeholder="Descapotable, familiar,etc...">
            </div>
        </div>

        <div class="container div-anio-kms">
            <div class="field div-anio">
                <label class="label">Año</label>
                <div class="control">
                    <input name="year" class="input" type="number" value="{{data.car.year}}" min="1900" max="2021">
                </div>
            </div>

            <div class="field div-kms">
                <label class="label">Kilometros</label>
                <div class="control">
                    <input name="kms" class="input" type="number" value="{{data.car.kms}}" min="0">
                </div>
            </div>

            <div class="field div-pasajeros">
                <label class="label">Pasajeros</label>
                <div class="control">
                    <input name="passengers" class="input" value="{{data.car.passengers}}" type="number">
                </div>
            </div>
        </div>

        <div class="field div-anio-kms">

            <div class="field div-kms">
                <label class="label">Precio/Dia</label>
                <div class="control">
                    <input name="price_per_day" class="input" value="{{data.car.price_per_day}}" type="number">
                </div>
            </div>

            <div class="field div-anio">
                <label class="label">Stock</label>
                <div class="control">
                    <input name="stock" class="input" value="{{data.car.stock}}" type="number">
                </div>
            </div>
        </div>


        <div class="field">
            <label class="label">Color</label>
            <div class="control">
                <input name="color" class="input" value="{{data.car.color}}" type="text">
            </div>
        </div>

        <label class="label">Extras</label>
        <div class="container div-aire-auto">

            <div class="field div-aire">
                <div class="control">
                    <input name="air_conditioner" id="air_conditioner" class="checkbox" type="checkbox">
                    Aire Acondicionado
                </div>
            </div>

            <div class="field div-auto">
                <div class="control">
                    <input name="automatic" id="automatic" class="checkbox" type="checkbox">
                    Automatico
                </div>
            </div>

        </div>

        <div class="field is-grouped">
            <div class="control">
                <input class="button" type="submit" value="Listo"/>
            </div>
            <div class="control">
                <a href="/car" class="button is-link is-light">Cancelar</a>
            </div>
        </div>
    </form>

    <script>
        const ac = '{{data.car.air_conditioner}}';
        const autom = '{{data.car.automatic}}';

        const has_ac = ac === 'Yes';
        const is_autom = autom === 'Yes';

        const ac_checkbox = document.querySelector('#air_conditioner');
        const autom_checkbox = document.querySelector('#automatic');

        if(has_ac)
            ac_checkbox.checked = true;

        if(is_autom)
            autom_checkbox.checked = true;


    </script>

</div>

{% endblock %}
