{% extends '../../views/index.njk' %}

{% block body %}

<div class="container form-container">

    <form method="POST" action="/user/submit" enctype="multipart/form-data">
        <input name="id" type="hidden" value="{{data.user.id}}" readonly />

        <div class="field div-photo">
            <label class="label">Foto</label>
            {% if data.user.photo %}
            <div class="photo-div">
                <img class="photo_img is-1by1" src="/{{ data.user.photo }}"/>
            </div>
            {% else %}
            <img class="photo_img is-1by1" src="https://style.anu.edu.au/_anu/4/images/placeholders/person_8x10.png" width="256" height="256" />
            {% endif %}
            <div class="control">
                <div class="file has-name">
                    <label class="file-label">
                        <input class="file-input" type="file" name="photo">
                        <span class="file-cta">
                          <span class="file-icon">
                            <i class="fas fa-upload"></i>
                          </span>
                        </span>
                    </label>
                </div>
            </div>
        </div>

        <div class="container field div-flex-container">
            <div class="field full-width">
                <label class="label">Nombre</label>
                <div class="control">
                    <input name="first_name" class="input" type="text" value="{{data.user.first_name}}" placeholder="John, Terry, etc...">
                </div>
            </div>

            <div class="field full-width">
                <label class="label">Apellido</label>
                <div class="control">
                    <input name="last_name" class="input" type="text" value="{{data.user.last_name}}" placeholder="Doe, Smith, etc...">
                </div>
            </div>
        </div>


        <div class="container field div-flex-container">
            <div class="container field">
                <label class="label">Fecha de Nacimiento</label>
                <div class="control">
                    <input name="birth_date" class="input birth-date-input" type="date" value="{{data.user.birth_date}}">
                </div>
            </div>
        </div>


        <div class="field div-flex-container">
            <div class="container field">
                <label class="label">Pais</label>
                <div class="control">
                    <input name="country" class="input" type="text" value="{{data.user.country}}">
                </div>
            </div>
        </div>

        <div class="field div-flex-container">
            <div class="container">
                <label class="label">Genero</label>
                <div class="select">
                    <select name="gender" value="{{data.user.gender}}">
                        <option value="Female">Mujer</option>
                        <option value="Male">Hombre</option>
                        <option value="Other">Otro</option>
                    </select>
                </div>
            </div>

            <div class="container">
                <label class="label">Telefono</label>
                <div class="control">
                    <input name="phone_number" class="input" value="{{data.user.phone_number}}" type="text">
                </div>
            </div>

        </div>

        <div class="field">
            <label class="label">DNI</label>
            <div class="control">
                <input name="id_number" class="input" value="{{data.user.id_number}}" type="number">
            </div>
        </div>

        <div class="field is-grouped">
            <div class="control">
                <input class="button" type="submit" value="Listo"/>
            </div>
            <div class="control">
                <a href="/user" class="button is-link is-light">Cancelar</a>
            </div>
        </div>
    </form>
</div>

<script>
    let gender = '{{data.user.gender}}';
    let options = document.querySelectorAll('option');
    options.forEach(option=>{
        if(option.value === gender)
            option.selected = true;
    })
</script>

{% endblock %}
