{% extends '../../views/index.njk' %}

{% block body %}
<div class="container div-table-container column">
    <div class="table-container">
        <table class="table is-hoverable car-list is-striped">
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th class="birth-date">Nacimiento</th>
                    <th>Country</th>
                    <th class="gender">Genero</th>
                    <th class="phone-n">Telefono</th>
                    <th class="id-n">DNI</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for user in data.users %}
                <tr>
                    <th>
                        {% if user.photo %}
                        <img class="list-photo" src="/{{ user.photo }}">
                        {% else %}
                        <img class="list-photo" src="https://style.anu.edu.au/_anu/4/images/placeholders/person_8x10.png">
                        {% endif %}
                    </th>
                    <th>{{ user.first_name }}</th>
                    <th>{{ user.last_name }}</th>
                    <th class="birth-date">{{ user.birth_date }}</th>
                    <th>{{ user.country }}</th>
                    <th class="gender">{{ user.gender }}</th>
                    <th class="phone-n">{{ user.phone_number }}</th>
                    <th class="id-n">{{ user.id_number }}</th>
                    <th id="actions">
                        <a href="user/add/{{user.id}}" class="icon is-medium">
                          <i class="fas fa-edit fa-2x"></i>
                        </a>
                        <a href="user/delete/{{user.id}}" class="icon is-medium has-text-danger">
                          <i class="fas fa-ban fa-2x"></i>
                        </a>
                    </th>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>
</div>
{% endblock %}
